# Assessment - 2 Gradable

- Each question carries 3 marks
- Marks will be assigned in terms of:
    
    **1. Expected output**
    
    **2. Quality and Explainability of code**

    ***Go back through the script and type a comment above each line explaining in English what it does.***

    **3. Copied code, if found, will result in 0 marks for that question. To avoid this make as much comments in the code to explain the approach**

### 1.

Write a Python program to perform following tasks on a list

<ol>
    <li>Create an empty list with name l1</li>
    <li>Add atleast 5 number to the l1</li>
    <li>Add 100 at 2<sup>nd</sup> position</li>
    <li>Add 1000 at front of the l1</li>
    <li>Delete element at 3<sup>rd</sup> position</li>
    <li>Display elements at even position</li>
    <li>Display elements in reverse order</li>
</ol>

In [20]:
l1=[] #created an empty list with name l1

In [22]:
l1=[1,2,3,4,5]
print(l1)  #Added 5 number to the l1

[1, 2, 3, 4, 5]

In [23]:
l1.insert(1, 100)
print(l1) #Added 100 at index [1]

[1, 100, 2, 3, 4, 5]

In [24]:
l1.insert(0, 1000)
print(l1)  #Added 1000 at index [0]

[1000, 1, 100, 2, 3, 4, 5]

In [27]:
del l1[2]
print(l1)  # deleted the 3rd element from l1

[1000, 1, 2, 3, 4, 5]

In [40]:
even_element=[l1[i]for i in range(1,len(l1),2)]
print(even_element)  #only even position element will be display from l1

[1, 3, 5]

In [41]:
l1.reverse()
print(l1) #All element will be in reverse order

[5, 4, 3, 2, 1, 1000]

### 2. 

Grab ``StarAgile`` from the following Dictionaries

d_difficult = {'k1':[{'nest_key':['this is deep',['StarAgile']]}]}

d_irritating = {'k1':[1,2,{'k2':['this is not easy',{'VeryIrriating':[1,2,['StarAgile']]}]}]}

In [51]:
d_difficult={'k1':[{'nest_key':['this is deep',['StarAgile']]}]}
star_agile= d_difficult['k1'][0]['nest_key'][1][0]
print(star_agile)

#in the dict d_difficult 'k1' is the list its first element in dict, which is accessed using index [0]
#and dict has 'nest_key' which is also a list, frist element in list is accessed using the index[0] which is str
#the second element in the list is accessed using the index[1], which is a list containig 'StarAgile' at index [0]

StarAgile

In [55]:
d_irritating= {'k1':[1,2,{'k2':['this is not easy',{'VeryIrriating':[1,2,['StarAgile']]}]}]}
star_agile= d_irritating['k1'][2]['k2'][1]['VeryIrriating'][2][0]
print(star_agile)

#here'd_irritating['k1'][2] gives us dict {'k2'}
#{'k2'} give us the list 
#list gives us dict 
#dict gives ud list
# and the final list has index [0,[1,2]
#and[2]is str 'StarAgile' which has index [0]

StarAgile

### 3.

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "judgemental" so you should display ‘j’, ‘d’, ‘e’, ‘e’, ‘t’, ‘l’.

In [12]:
S=tuple(input("Enter the name: "))                   #user can put the value in "Enter a string" 

#And output will be in string format with even index characters 
print(S[0:len(S):2])

Enter the name:  StarAgile

('S', 'a', 'A', 'i', 'e')

In [ ]:
 4. 

Convert the Float Value of '3.8' into Integer, Complex, Binary and Hexidecimal format

In [ ]:
float_value= 3.8

#converting float value into int by using int()
int_value = int(float_value)
print(int_value)

In [31]:
float_value= 3.8

#converting float value in complex value by using complex()
complex_value = complex(float_value)
print(complex_value)

(3.8+0j)

In [34]:
float_value= 3.8

#coverting float value in int and then convert the value into binary.
binary_value = bin(int(float_value))
print(binary_value)

0b11

In [36]:
float_value= 3.8

#converting float value in int and then convert the value into hexidecimal.
hex_value = hex(int(float_value))
print(hex_value)

0x3

### 5. 

Write a program to accept five names from the user and store it in a Tuple 'T1'

In [6]:
T1=tuple()                             #create empty tuple name  as T1

#range of T1 will be 5
for i in range(5):  
   name=input("Enter a name:")         #"enter a name" will accept input given by user 
   T1+=(name,)                         #adding value in "T1" by using Assignment operators
print(T1)

Enter a name: one
Enter a name: two
Enter a name: three
Enter a name: four
Enter a name: five

('one', 'two', 'three', 'four', 'five')